body{
    background-image: url(../images/background.png);
}
 
 /* #navbarNav{
    margin-left: 25vw;
}

.navbar-brand{
    margin-left: 7vw;
    font-size: 5em;
    
    
}
.navbar{
    background-color: rgb(6, 46, 15);
    padding:1.5em 0 1em 0;
    
}

.nav-item{
    margin:0 1em 0 1em;
    font-size: 20px;
}  */

.club-contain{
    width: fit-content;
    
    margin-top: 15vh;
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 10vw;
    row-gap: 10em;
}
.club{
    
    height:20rem;
    width:20rem;
    margin-right:0;
    transition: .5s ease;
}
/* .club img:hover{
     height:38vh; 
    width:25vw 
} */

.clubimg{
    height:20rem;
    width:20rem;
    border-radius: 50%;
}
