body{
    background-image: url(../images/background.png);
}
 
#navbarNav{
    margin-left: 25vw;
}

.navbar-brand{
    margin-left: 7vw;
    font-size: 5em;
    /* height: 1.2em;
    width: 8rem;  */
    
}
.navbar{
    /* background-color: rgb(6, 46, 15); */
    padding:1.5em 0 1em 0;
    
}

.nav-item{
    margin:0 1em 0 1em;
    font-size: 20px;
}

.club-contain{
    width: fit-content;
    margin-top: 10vh;
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 10vw;
    row-gap: 2em;
}
.club{
    height:20rem;
    width:20rem;
    margin-right:0;
}
/* .club img:hover{
     height:38vh; 
    width:25vw 
} */

.clubimg{
    height:20rem;
    width:20rem;
    border-radius: 50%;
}
