body{
    background-color: rgb(243, 240, 240);
    background-repeat: no-repeat;
    background-position:top;
    background-size: cover;
}
.heading{
    background-color: rgb(59, 69, 72);
}
.row{
    display:flex;
    justify-content:center;
    margin: 4em;

}

.post img{
    border-radius: 50%;
    height:60%;
    width:40%
}

.post{
    height:40%;
    width:20%;
    /* border:5px solid white; */
    text-align: center;
}
.post-name{
    width: 6em;
    font-size: 25px;
    color: rgb(121, 160, 193);
    margin: auto;
}

.about-club{
    width:70%;
    color:rgb(112, 142, 169);
    font-size: 25px;
    margin: auto;

}

.joincontainer{
    height:30vh;
    width:80%;
    margin: auto;
    display:flex;
    justify-content: space-evenly;
    margin-top:5em;
    border-radius: 15px;
    background-color: rgb(141, 158, 192);
    padding-top: 7em;
    margin-top: 5em;
}

.joinnow{

    width:14em;
    color: aliceblue;
    font-size:45px;
}

.joinbutton{
    width:10em;
    height:4em;
    border-radius: 10px;
}
