body{
    /* background-color: black;  */
    background-image: url("../images/background.png");
    
    margin: 0;
    padding: 0;
}

.block{
    margin-top:5em;
    margin-left: 0;
}
    /* color: aliceblue; */

#navbarNav{
    margin-left: 25vw;
}

.navbar-brand{
    margin-left: 7vw;
    font-size: 5em;
    /* height: 1.2em;
    width: 8rem;  */
    
}
.navbar{
    /* background-color: rgb(6, 46, 15); */
    padding:1.5em 0 1em 0;
    
}

.nav-item{
    margin:0 1em 0 1em;
    font-size: 20px;
}
.upcoming-event{
    /* background-color: rgb(6, 46, 15); */
    /* padding-top: 1em; */
    padding-bottom: 3em;
}
.upcoming{
    font-size: 3em;
    color: aliceblue;
    text-align: center;
    padding: 1em 0 0.5em 0;
    /* background-color: black; */
    margin-bottom: 0;
    

}
.up-car{
    height:33rem;
    width:85vw;
    margin: auto;
    /* background-image: url("../images/csi.jpg.png"); */
}
.first-car{
    height: 33rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-image:url("../images/car-1.png");
}
.second-car{
    background-image: url("../images/car-2.png"); 
    height: 33rem;
    background-size: cover;
}

.register1{
    position: absolute;
    top:18rem;
    left:54rem;
    color:white;
    background-color:rgb(64, 6, 75);

}
.register2{
    position: absolute;
    top:19rem;
    left:50rem;
    background-color: burlywood;
}

.headings{
    /* margin-top:0.6em; */
    margin-bottom: 0;
    font-family: 'El Messiri', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    color:aliceblue;
    text-align: center;
    font-size: 5em;
}

.joinclubs{
    margin-top: 2.5em;
    display:flex;
    justify-content:center;
}
.reason{
    height:22em;
    width:22em;
    margin: 0 2em 0 2em;

    /* border: 1px solid white; */
   
    background-image: url("../images/round.png");
    background-repeat: no-repeat;
    background-position: center;
   
    
}
.rea-text{
    font-size: 2.6em;
    color:aliceblue;
    position: relative;
    font-family: Berkshire Swash;
    top:2em;
    left:1.2em;
    width:16rem;
    text-align: center;
}

.purple{
    width:45vw;
    /* height: 80vh; */
    margin-left: 0;
    /* background-color: blueviolet; */
    background-image: linear-gradient(to bottom right, rgb(75, 8, 65), rgb(18, 18, 19));
    text-align: center;
     border-bottom-right-radius: 45%;
    border-top-right-radius: 45%;
} 
.feature-block{
    margin-top: 2em;
    display: flex;
    /* justify-content: space-evenly; */
    height: 38em;
}
.featurecontent{
    /* margin-bottom: 3em; */
    margin-left: 9em;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
}
.featureimage{
  
    border-radius: 50%;
    height: 25em;
    width: 25em;
    margin-top: 6em;
    /* background-color: blueviolet; */
}
.fea-head{
    color: aliceblue;
    font-size: 3em;
}
.feature{
    /* height: 10em; */
    width: 29em;
    color: aliceblue;
    margin-top:1em;
    margin-bottom: 1em;
    border-radius: 25px;
     background-image: linear-gradient(to right, rgb(75, 8, 65), rgb(18, 18, 19)); 
    padding: 0 5px 0 10px;
}
 .incridea{

    margin-top: 3em;
}
.incridea-image{
    height:80vh;
    width:80vw;
     margin: auto;
     background-image: url(https://i.ytimg.com/vi/sD6B0OAf6AI/maxresdefault.jpg);
    /* margin-top: 3vh; */
}
 .inc-first{
    height:80vh;
    width:80vw;
    background-image: url("https://i.ytimg.com/vi/sD6B0OAf6AI/maxresdefault.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.inc-second{
    height:80vh;
    width:80vw;
    background-image: url("https://i.ytimg.com/vi/sD6B0OAf6AI/maxresdefault.jpg");
    background-repeat: no-repeat;
    background-size: cover;
} 
.inc-third{
    height:80vh;
    width:80vw;
    background-image: url("https://i.ytimg.com/vi/sD6B0OAf6AI/maxresdefault.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}  */

.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    /* height: 6em; */
  }
  table{
    margin:auto;
    width:70vw;
    height: 80vh;
    color: aliceblue;
    
  }

  table, th, td {
    border: 1px solid rgb(243, 238, 238);
  }
.administration{
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

.heads{
    text-align: center;
    height:25em;
    width:20em;
    /* border: 1px solid white; */
    
}
.image-admin{
    border-radius: 50%;
    height:15em;
    width:15em;
    
}

.designation{
    display: inline-block;
    margin-top: 2em;
    width:10em;
    color: aliceblue;
    font-size: 1em;
}
 footer{
    background-color: rgb(69, 5, 68);
    margin:3em 0 0 0;
    padding: 1em 0 3em 0;
    display: flex;
    justify-content: space-between;
    color: aliceblue;
 }
.foot-head{
    color: white;
    margin-left: 12em;

}
.footcontent{
margin-right:10em;
font-size: larger;

}
.footcontent span{
    display: block;
}

.smedia{
    display:flex;

}

.smedia i{
    font-size: 1.7em;
    margin:5px 18px 0 0;
    color: aliceblue;
}

