body{
    background:#EAE9E5;
}
.login_form{
    margin-top:30%;
    margin-bottom: 30%;
    background: rgb(227, 211, 211);
    padding: 50px;
    box-shadow:0px 1px 36px 5px rgba(0,0,0,0.28);
    border-radius: 5px;

}
.account_form{
    margin-top:30%;
    margin-bottom: 30%;
    background: rgb(227, 216, 216);
    padding: 50px;
    box-shadow:0px 1px 36px 5px rgba(0,0,0,0.28);
    border-radius: 5px;

}
.form_btn{
    background:#e6a3a7;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
    border: none;
    color :#fff;
    width :100%;
}
.label_txt {
    font-size : 15px;

}
.form-control{
    border-radius: 25 px;

}
.signup_form{
    background:  rgb(227, 216, 216);
    margin-top:20%;
    padding: 50px;
    box-shadow: 0px 1px 36px 5px rgba(0,0,0,0.28);
    border-radius:5px;

}
.errmsg{
    margin:5px auto;
    border-radius:5px;
    border:1px solid green;
    background:#e6a3a7;
    text-align: left;
    color:#fff;
    padding: 10px;

}
.successmsg{
    margin:5px auto;
    border-radius:5px;
    border:1px solid green;
    background:#e6a3a7;
    text-align: left;
    color:#fff;
    padding: 10px;

}
